<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <form  #form="ngForm" (ngSubmit)="register()">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>Create your account!</h3>
                    </div>
                    <div padding [formGroup]="registerForm">
                        <div *ngIf="errors != null" class="error">
                            {{errors}}
                        </div>
                        <ion-item>
                            <ion-select formControlName="roleId" placeholder="Select Role"
                                        [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
                                <ion-select-option value="1">Client</ion-select-option>
                                <ion-select-option value="2">Service Provider</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div *ngIf="submitted && f.roleId.errors" class="error">
                            <div *ngIf="f.roleId.errors.required">Please select role</div>
                        </div>
                        <ion-item>
                            <ion-input  type="text" formControlName="name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                        placeholder="First Name">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.name.errors" class="error">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>

                        <ion-item>
                            <ion-input  formControlName="surname" type="text" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
                                        placeholder="Surname">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.surname.errors" class="error">
                            <div *ngIf="f.surname.errors.required">Surname is required</div>
                        </div>

                        <ion-item>
                            <ion-input formControlName="phoneNumber" type="text" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
                                       placeholder="Phone Number e.g 0721568930">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.phoneNumber.errors" class="error">
                            <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                            <div *ngIf="f.phoneNumber.errors.pattern">Phone Number is not valid</div>
                            <div *ngIf="f.phoneNumber.errors.alreadyExists">Phone Number already exists</div>
                        </div>

                        <ion-item>
                            <ion-input formControlName="userPassword" type="password" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }"
                                       placeholder="Password">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.userPassword.errors" class="error">
                            <div *ngIf="f.userPassword.errors.required">Password is required</div>
                            <div *ngIf="f.userPassword.errors.minlength">Password must be at least 6 characters</div>
                        </div>

                        <ion-item>
                            <ion-input formControlName="confirmPassword" type="password" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }"
                                       placeholder="Confirm Password">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="error">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <div padding *ngIf="registerForm.get('roleId').value == 1 || registerForm.get('roleId').value == 0">
                        <ion-button  size="large" type="submit" expand="block">Register</ion-button>
                    </div>
                    <div padding *ngIf="registerForm.get('roleId').value == 2">
                        <ion-button  size="large" type="submit" expand="block" (click)="getCompanyDetails()">Next</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>